{% load static %}
<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #01787c;">
    <div class="container-fluid d-flex justify-content-between align-items-center">

         <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 55px;">
        </a>

        <form class="d-flex mx-auto" method="GET" action="{% url 'home' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Search for books..." aria-label="Search"  style="width: 400px;">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>