{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="lead">
                We are Miś&Books. We are trying to help people find books for their mood. Here you choose what you need
                to read now. Let books help with your mood!
            </p>

            <p>
                In this project we are making sentiment analyze of books. And then we choose the best option for you.
            </p>

            <h2 class="mt-5">Our Mission</h2>
            <p>
                Many people around the world are suffering from loneliness and a bad mood.
                We want to help people find themselves again. And we found that the books are best option.
                Good chosen book will help person find that it's not alone with its problems and make a suggestions how to solve it.
            </p>

            <h2 class="mt-5">Our Team</h2>
            <p>
                Developer: Durnev Nikita Alekseevich
            </p>

            <h2 class="mt-5">Contact Us</h2>
            <p>
                E-mail: nikitka.durne@gmail.com
            </p>

            <p>
                Telegram: @donotq
            </p>

        </div>
    </div>
</div>
{% endblock content %}